@import "variables";

.main {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;

    &__body {
        display: inline-grid;
        border: 1px solid rgba(255, 255, 255, .5);
        user-select: none;
    }

    .item { cursor: pointer; }

    .visibleBorder { border: 1px solid rgba(255, 255, 255, .25); }

    .alive { background: #000; }

    .dead {   }
}


.main__input {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: Arial serif;

    button, input, select, option, input::placeholder {
        border-radius: 5px;
        font-size: 16px;
        color: $color-light;
        background: $color-dark;
        background: rgba(0, 0, 0, 0);
    }

    button {
        margin: 5px 0;
        padding: 5px;
        box-shadow: 0 0 5px #fff, inset 0 0 5px #fff;
    }

    input { width: 200px; }

    select::-ms-expand { display: none; }

    option { background: $color-dark; }
}
