.navigation {
    position: relative;
    top: -25px;
    margin: 0 auto;
    display: grid;
    align-content: start;
    grid-template-columns: 30px 1fr 30px;
    align-self: center;
    grid-area: navigation;
    width: 355px;
    min-height: 0px;
    height: 0;
    opacity: 0;
    animation: navigation_appearance .5s ease-out 1s 1 forwards;

    .navigation__pages {
        display: grid;
        justify-content: center;
    }
}

@keyframes navigation_appearance {
    from { opacity: 0; top: -25px;
        height: 0px;}
    50% { top: 0px; height: 30px;}
    to { opacity: 1; top: 0px;
        height: 30px;}
}

.navigation__page, .navigation__page_selected, .button {
    padding: 2.5px;
    margin: 0px 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.button { margin: 0px; }
.disabled { background: rgba(0, 0, 0, 0.25); cursor: auto; }

.navigation__page_selected {
    background: #000;
    color: #fff;
}

