@import "./src/styles/variables";

.search {
    position: relative;
    display: flex;
    justify-content: center;
    width: 45vw;
    height: 100%;
    background: $color-dark;
    transform: skew(-30deg);

    input {
        width: 80%;
        background: transparent;
        transform: skew(30deg);

        &, &::placeholder {
            font-size: calc(var(--index)*1.25);
            color: $color-light;
        }
    }

    &::after {
        position: absolute;
        top: 50%;
        right: 20px;
        content: '';
        width: calc(var(--index)*2.5);
        background: url("search.svg") 0 50% /contain no-repeat;
        aspect-ratio: auto 1/1;
        transform: skew(30deg) translateY(-50%);
        cursor: pointer;
    }
}