@import "./src/styles/variables";

.switch {
    padding: 0.25rem;
    display: inline-flex;
    border-radius: 9999px;
    background-color: $color-dark;

    &__label {
        padding: 0.25rem 0.5rem;
        border-radius: 9999px;
        font-size: calc(var(--index)*.95);
        color: $color-light;
        cursor: pointer;
    }

    &__label:has( > input:checked) {
        transition: background-color 1s ease 0s;
        background-color: #3b82f6;
        color: $color-light;
    }

    input {display: none;}
}